.house-name-input {
	margin-top: 40px;
}

.create-house-button {
	margin-top: 40px;
}

#housename {
	font-size: 1.5em;
}

.username-search-form {
	margin-top: 20px;
}

.error-message {
	color: red;
}

.search-results {
	clear: both;
	padding-top: 20px;
}

#selectLink {
	color: green;
}

#removeLink {
	color: red;
}

.selected-list {
	/* Add overflow functionality */
}
